:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* Use to scale fonts */
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(0, 0%, 10%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
}

.key {
  grid-column: span 2;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width:  1.75em;
  height:  1.2em;
}

.key.wrong {
  background-color: hsl(0, 0%, 30%);
  /*border-color: coral;*/
}

.key.wrong-location {
  background-color: hsl(49, 51%, 30%);
  border-color: gold;
}

.key.correct {
  background-color: hsl(115, 29%, 30%);
  border-color: lightgreen;
}

.wordle-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  color: white;
  border: .05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.tile[wordle-state="active"] {
  border-color: hsl(200, 1%, 34%);
}

.tile[wordle-state="wrong"] {
  background-color: hsl(240, 2%, 23%);
}

.tile[wordle-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 30%);
}

.tile[wordle-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 30%);
}
